doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon", type="image/png" href="/images/favicon.png")
    link(rel="stylesheet", href="/stylesheets/style.css")
    title CTO.ai
  body
    #header
      img(id="logo", src="/images/cto_logo_primary.svg", alt="CTO.ai logo")
      #success
        img(id="rocket", src="/images/cto_rocket.png", alt="CTO.ai Rocket")
        #message
            h1 Success!
            h2 #{release_no}
      br
      a(href="https://cto.ai/docs") Explore our Documentation

    #content
      #location
        h3 Status Message
        p Congratulations, your service was deployed successfully on the Developer Control Plane!
        p You are visiting this site from <strong>#{locationName}</strong> via <code>#{ipAddr}</code>.
      #weather
        include currentConditions.pug


    script(defer, src="/js/client.js")
